@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Montserrat&display=swap');

*{
    /* font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif; */
        /* animation: fadeInAnimation ease 3s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards; */
}


.navbar>.container{
    padding: inherit;
}

.navText{
    color : #191E28;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 1.5rem;
}

.herosHeading{
    font-size: 50px;
    text-align: justify;
    width: 1px;
    text-shadow: 2px 2px #000000;
    animation-duration: 3s;
    animation-name: slidein;
}

.carousel-control-next, .carousel-control-prev{
    opacity: 0;
}

.carousel-indicators [data-bs-target]{
    width: 12px;
    border-radius: 100%;
    height: 12px;
    margin-right: 18px;
    background-color: #ffff;
    opacity: 1;
    
}


.secOneIndicators{
    margin-left: 9%
}


.secFourIndicators {
    margin-left: 28%;
    margin-bottom: 50px;
}

/* .carousel-dark [data-bs-target].active{
    background-color: #1491D2;
    width: 30px;
    height: 12px;
    border: 0px;
    border-radius: 6px !important;
} */


.secTwo{
    background-image: url("../assets/vectors/Vector_for_secondSec.svg");
    background-repeat: no-repeat;
    background-position: left; 
    background-size: initial;
    -webkit-animation: slide-in 0.5s forwards;
}

.buttons{
    border: 1px solid #1491D2;
    color: #1491D2;
    animation-name: fadeInOut, moveLeft300px, bounce;
    animation-duration: 2.5s, 5s, 1s;
    animation-iteration-count: 2, 1, 5;
    animation: zoominoutsinglefeatured 1s infinite ;
}


.buttons:hover{ 
    background-color: #1491D2;
    color: #ffffff;
    animation-duration: 10s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.headingBlue{
    color: #1464AA;
    font-weight: 400;
    font-size: 45px;
      animation-duration: 3s;
    animation-name: slidein;
    animation: zoominoutsinglefeatured 1s infinite ;
}

.Paragraph{
    font-size: 25px;
    color: #505772;
    font-weight: 400;
    padding-right: 35px;
}

.cardOne{
    background-color: #1491D2;
    margin-top: -67px;
    z-index: 1;
    border: none;
    transition: 0.5s all ease-in-out;
}

.cardOne:hover{
    transform: scale(1.2);
}

.cardThree{
    background-color: #1464AA;
    transition: 0.5s all ease-in-out;
}

.cardThree:hover{
    transform: scale(1.2);
    z-index: 1;
}

.cardFour{
    background-color: #1491D2;
    transition: 0.5s all ease-in-out;
}


.cardFour:hover{
    transform: scale(1.2);
    z-index: 1;
}


.cardSubHeading{
    font-weight: 200;
    font-size: medium;
}

.square {
    height: 70px;
    width: 70px;
    background-color: #1491D2;
    transition: 0.5s all ease-in-out;   
  }

  
.square:hover{
    transform: scale(1.2);
    z-index: 1;
}



.secThree{
    background-image: url("../assets/vectors/sec_three_bg_img.svg");
}

.secThreeCards{
    color: #1491D2;
    transition: width 4s;
}

/* .secThreeCards:hover {
    transform: scale(1.5); 
  } */


.secThreePara{
    font-weight: 200;
}
.secThreeCards{
    background-color: rgba(25, 30, 40, 0.75);
    border-color: #55646E;
    background: transparent;
   
}

.card.secThreeCards.rounded-3.py-3:hover {
    background: #ffff;
}
/* 
.secFour{
    background-image: url("../assets/img/sec\ 4\ bg\ img.png");
} */

.carsolImg{
    background-size: contain;
}

/* .secFiveHead{
    color: #1464AA;
} */

.carousel-caption{
    right: 2%;
    bottom: 5.25rem;
    left: 5%;
}



.carousel-dark .carousel-indicators [data-bs-target]{
    margin-top: 10px;
    background-color: #ffffff;
    border: 2px solid #1491D2;
    width: 10px;
    height: 10px;

}


.carousel-indicators [data-bs-target].active {
    background-color: #1491D2;
    width: 30px;
    height: 12px;
    border-radius: 23px !important;
    border: 0;
    margin-top: 10px;
}


.carousel-indicators [data-bs-target].active{
    background-color: #1491D2;
    width: 30px;
    height: 12px;
    border-radius: 10px !important;
}


.secSix{
    background-color: #191E28;
}

.betterCommunityPara{
    font-weight: 200;
}


.secSixHeadings{
    font-size: 45px;
}


.secSevenPara{
    color: #1491D2;
}

.sectionEight {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .centered {
    position: absolute;
    left: 38%;
    bottom: 0px;
    transform: translate(-30%, -52%);
}


.footerBg{
    background-color: #091727;
    
}


.footer{
    color: rgba(166, 168, 180, 0.7);
    font-size: 11px;
}

.footerHead{
    color: #A6A8B4  ;
    font-size: 13px;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }


.copyright{
    background-color: #05111F;
}




@media (max-width: 575.98px) { 
    /* .herosHeading {
        font-size: 27px;
        text-align: justify;
        width: 1px;
        text-shadow: 2px 2px #000000;
    } */
 }

/* media query */

/* @media (min-width: 576px) { 
    .herosHeading {
        font-size: 27px;
        text-align: justify;
        width: 1px;
        text-shadow: 2px 2px #000000;
    }
 } */


 /* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { 
    .herosHeading {
        font-size: 27px;
        text-align: justify;
        width: 1px;
        text-shadow: 2px 2px #000000;
    }
 } */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {  
    .herosHeading {
        font-size: 27px;
        text-align: justify;
        width: 1px;
        text-shadow: 2px 2px #000000;
    }
} */

/* // X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { 
    .herosHeading {
        font-size: 27px;
        text-align: justify;
        width: 1px;
        text-shadow: 2px 2px #000000;
    }
 } */

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .herosHeading{
        font-size: 50px;
        text-align: justify;
        width: 1px;
        text-shadow: 2px 2px #000000;
    }
 }